@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans:100,200,300,regular,500,600,700,800,900);

* {
    margin: 0;
    padding: 0;
    background: border-box;
}
body {
    font-family: 'Kumbh Sans';
    min-height: 100vh;
    background-color: hsl(185, 75%, 39%);
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left -30vh bottom 500px, right -40vh top 500px;
}
.container {
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 470px;
    width: 450px;
    border-radius: 10px;
    position: relative;
    top: 25vh;

}
.vphoto {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 4px solid white;
    margin: 0 auto;
    position: relative;
    bottom: 50px;
}
.top-image {
    border-top-right-radius:  10px;
    border-top-left-radius: 10px;
}
.text {
    text-align: center;
    position: relative;
    bottom: 25px;
}
h1 {
    font-size: 25px;
}
p {
    margin-top: 10px;
    color: hsl(0, 0%, 59%);
}
span {
    font-size: 25px;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    margin-left: 5px;
}
.numbers {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid hsl(0, 0%, 59%);
}
.stats {
    margin-top: 25px;
    text-align: center;
}

h2 {
    color: hsl(229, 23%, 23%);
}